* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 110rem;
  margin-inline: auto;
}

.container-second {
  max-width: 120rem;
  margin-inline: auto;
}

.grid-two-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.6rem;
}

.grid-three-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.6rem;
}

/*Section main*/
.section-main {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.788),
      rgba(0, 0, 0, 0.658)
    ),
    url(img/background-panel.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 60rem;*/
  padding: 16.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-primary {
  text-align: center;
  font-size: 4.6rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: -0.5px;
  margin-bottom: 6rem;
  letter-spacing: -1.5px;
}

.main-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 6rem;
}

.header-img {
  width: 100%;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.btn-full:link,
.btn-full:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2.2rem;
  color: #fff;
  background-color: #ffb01f;
  border: solid 0.2rem #fff;
  padding: 2rem 4rem;
  border-radius: 9px;
  font-weight: 500;
  transition: all 0.3s;
}

.btn-full:hover,
.btn-full:active {
  background-color: #ffa600;
}

.btn-outline:link,
.btn-outline:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2.2rem;
  color: #fff;
  background-color: transparent;
  border: solid 0.2rem #fff;
  padding: 2rem 4rem;
  border-radius: 9px;
  font-weight: 500;
  transition: all 0.3s;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #ffb01f;
}

/*Section what*/
.section-benefit {
  padding: 9.6rem 0 9.6rem 0;
}

.subheading {
  font-size: 1.6rem;
  color: #ffb01f;
  font-weight: 600;
  letter-spacing: 2px;
  display: inline-block;
  margin-bottom: 1.6rem;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 600;
  color: #222;
  letter-spacing: -0.5px;
}

.benefit-text-box {
  font-size: 2rem;
  line-height: 1.6;
  align-self: center;
  color: #333;
  text-align: justify;
}

.benefit-img-box {
  display: flex;
  justify-content: center;
}

.benefit-img {
  width: 90%;
  border-radius: 11px;
}

/*Section capable*/
.section-capable {
  padding-bottom: 9.6rem;
}

.capable-text {
  font-size: 2rem;
  line-height: 1.6;
  color: #333;
  margin-top: 1rem;
}

.cap-img {
  height: 4rem;
}

.cap-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}

.capable-fnc {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  padding-top: 1.5rem;
  border-top: solid 2px #ffb11fb2;
}

.capable-fnc:last-child {
  border-bottom: solid 2px #ffb11fb2;
  padding-bottom: 1.5rem;
}

.capable-functions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.capable-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.capable-image {
  display: flex;
  justify-content: center;
}

.solar-cap {
  border-radius: 15px;
  height: 100%;
  width: 70%;
}

/*Section cards*/
.section-cards {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.788),
      rgba(0, 0, 0, 0.658)
    ),
    url(img/cards-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 80rem;*/
  margin-bottom: 9.6rem;
  padding: 6.6rem 0;
  display: flex; /*question*/
  flex-direction: column; /*question*/
  justify-content: center; /*question*/
}

.first-card,
.second-card,
.third-card {
  background-color: #ffffff63;
  backdrop-filter: blur(5px);
  padding: 5rem 3rem;
  border-radius: 11px;
}

.card-header {
  padding: 4rem 0 4rem 0;
  border-top: solid 5px #ffb11fb2;
  border-bottom: solid 5px #ffb11fb2;
  margin-bottom: 6rem;
}

.heading-cards {
  font-size: 3rem;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.subheading-cards {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.card-main {
  padding-top: 4rem;
  border-top: solid 1px #ffb11f50;
}

.card-data-1 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.card-data-2 {
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.card-btn:link,
.card-btn:visited {
  display: inline-block;
  padding: 1.5rem 3rem;
  background-color: #ffb11fb2;
  border-radius: 9px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  border: solid 2px #fff;
  font-weight: 500;
  transition: all 0.3s;
}

.card-btn:hover,
.card-btn:active {
  background-color: #ffa600;
}

/*Section-transform*/
.section-transform {
  padding-bottom: 9.6rem;
}

.transform-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}

.margin-top-sm {
  margin-top: 1rem;
}

.margin-bottom-sm {
  margin-bottom: 2rem;
}

.transform-heading {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #222;
}

.transform-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.transform-img {
  width: 100%;
  border-radius: 11px;
}

/*Section cta*/
.section-cta {
  padding-bottom: 9.6rem;
}

.cta {
  background-color: #fac86a;
  padding: 4rem 2rem;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
}

.text-align-center {
  text-align: center;
  margin-bottom: 2rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #333;
  text-align: center;
  margin-bottom: 3rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: solid 2px #fff;
  background-color: #f8e2b8;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.cta-form button {
  border: solid 2px #fff;
  cursor: pointer;
  font-family: inherit;
  background-color: #f8a70fb2;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  align-self: end;
  padding: 1.2rem 1.6rem;
  border-radius: 9px;
  transition: all 0.3s;
}

.cta-form button:hover {
  background-color: #ffa600;
}

/*Section news*/
.section-news {
  padding-bottom: 9.6rem;
}

.new-image {
  width: 100%;
  margin-top: 3rem;
  border-radius: 9px;
  margin-bottom: 2rem;
}

.new-heading:link,
.new-heading:visited {
  text-decoration: none;
  font-size: 2rem;
  color: #222;
  font-weight: 500;
}

.new-heading:hover,
.new-heading:active {
  text-decoration: underline;
}

.new-text {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}
