* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 110rem;
  margin-inline: auto;
}

.container-second {
  max-width: 120rem;
  margin-inline: auto;
}

.grid-two-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6.6rem;
}

/*Section main*/
.section-main {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.788),
      rgba(0, 0, 0, 0.658)
    ),
    url(img/background-panel.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading-primary {
  text-align: center;
  font-size: 4.6rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: -0.5px;
  margin-bottom: 6rem;
  letter-spacing: -1.5px;
}

.main-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  line-height: 1.6;
  margin-bottom: 6rem;
}

.header-img {
  width: 100%;
}

.btns {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.btn-full:link,
.btn-full:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2.2rem;
  color: #fff;
  background-color: #ffb01f;
  border: solid 0.2rem #fff;
  padding: 2rem 4rem;
  border-radius: 9px;
  font-weight: 500;
  transition: all 0.3s;
}

.btn-full:hover,
.btn-full:active {
  background-color: #ffa600;
}

.btn-outline:link,
.btn-outline:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 2.2rem;
  color: #fff;
  background-color: transparent;
  border: solid 0.2rem #fff;
  padding: 2rem 4rem;
  border-radius: 9px;
  font-weight: 500;
  transition: all 0.3s;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #ffb01f;
}

/*Section what*/
.section-benefit {
  padding: 9.6rem 0 9.6rem 0;
}

.subheading {
  font-size: 1.6rem;
  color: #ffb01f;
  font-weight: 600;
  letter-spacing: 2px;
  display: inline-block;
  margin-bottom: 1.6rem;
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 600;
  color: #222;
  letter-spacing: -0.5px;
}

.benefit-text-box {
  font-size: 2rem;
  line-height: 1.6;
  align-self: center;
  color: #333;
  text-align: justify;
}

.benefit-img-box {
  display: flex;
  justify-content: center;
}

.benefit-img {
  width: 90%;
}

/*Section capable*/
.section-capable {
  padding-bottom: 9.6rem;
  padding-top: 9.6rem;
}

.capable-text {
  font-size: 2rem;
  line-height: 1.6;
  color: #333;
  margin-top: 2rem;
}

.cap-img {
  height: 4rem;
}

.cap-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #333;
}

.capable-fnc {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  padding-top: 2rem;
  border-top: solid 2px #ffb11fb2;
}

.capable-fnc:last-child {
  border-bottom: solid 2px #ffb11fb2;
  padding-bottom: 2rem;
}

.capable-functions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.capable-text-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.capable-image {
  display: flex;
  justify-content: center;
}
